<div class="container">
  <h1 class="text-center">Liste des cocktails</h1>
  <ul class="list-group">
    <% @cocktails.each do |cocktail| %>
      <li class="list-group-item text-center"><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
    <% end %>
  </ul>
  <div>
    <%= link_to 'Add a cocktail', new_cocktail_path, class: "d-flex p-2 btn btn-primary justify-content-center" %>
  </div>
</div>

